/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background-color: rgb(0, 0, 0); 
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}


.Tree-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.75);
  max-width: 150%; 
  max-height: 150%;
  width: auto;
  height: auto;
  z-index: 0; 
}


.App-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  overflow: hidden; 
}


.App-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/wback.png');
  background-size: cover;
  background-position: center center;
  opacity: 0.35; 
  z-index: 1;
}


.App-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

/* Header and Footer */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; 
}

.App-logo {
  height: 50px;
}

.App-contact-text {
  color: rgb(255, 248, 248);
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.contact-container {
  position: relative;
}

.contact-info {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: black;
  padding: 15px 20px;
  z-index: 4;
  font-size: 15px;
  border: 1px solid rgb(255, 250, 250);
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(237, 227, 227, 0.1);
  backdrop-filter: blur(5px);
}

.contact-info p {
  margin: 0;
  color: #ffe3e3;
  font-weight: bold;
}

.App-contact-text:hover {
  text-decoration: underline;
}

.App-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3; 
  color: black;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }

  .App-logo {
    margin-bottom: 10px;
  }
}
